<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Text-To-Speech</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">

          </ul>
          <div class="text-end">
            <button type="button" routerLink="login" class="btn btn-outline-light me-2" *ngIf="!authService.isAuthenticated">Giriş Yap</button>
            <button type="button" routerLink="signup" class="btn btn-warning" *ngIf="!authService.isAuthenticated" >Kayıt Ol</button>

            <button type="button" routerLink="profile" class="btn btn-outline-light me-2" *ngIf="authService.isAuthenticated">Profil</button>
            <button type="button" routerLink="" class="btn btn-light" *ngIf="authService.isAuthenticated" (click)="LogOut()" >Çıkış Yap</button>
        </div>
        </div>
      </div>
    </nav>
</header>
<div name="space" style="height: 90px;"></div>
