<div class="container">
    <h1>Profil</h1>
    <div class="card my-5">
        <h5 class="card-header">Kullanıcı Bilgileri</h5>
        <div class="card-body">
          <p><b>Ad Soyad</b><input disabled #nameSurname type="text" class="form-control" placeholder="Ad Soyad"></p>

          <span><b>Email</b></span>
          <span><input disabled #email type="text" class="form-control" placeholder="Email"></span><br>
          </div>
    </div>
    <div class="card my-5">
        <h5 class="card-header">Paket Bilgileri</h5>
        <div class="card-body">
          <p><b>Paket Adı</b><input disabled #packageName type="text" class="form-control" placeholder="Paket Adı"></p>
  
          <span><b>Kalan Karakter Sayısı</b></span>
          <span><input disabled #remainingCharacters type="text" class="form-control" placeholder="Kalan Karakter Sayısı"></span><br>

          <span><b>Paket Yenilenme Tarihi</b></span>
          <span><input disabled #renewalDate type="text" class="form-control" placeholder="Paket Yenilenme Tarihi"></span><br>
          </div>
    </div>
</div>